<%= render partial:"head" %>

<%= form_with model:@schedule, local: true do |f|%>

  <div class="input_content">
    <div class="">
      <span>会社名</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :company, class:"schedule-input", placeholder:"例）30" %>
  </div>

  <div class="input_content">
    <div class="">
      <span>面接形式</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:interview_id, Interview.all, :id, :name, {}) %>
  </div>

  <div class="input_content">
    <div class="">
      <span>日付</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :dating, class:"schedule-input", placeholder:"例）20210131" %>
  </div>

  <div class="input_content">
    <div class="">
      <span>開始時間</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :start_time, class:"schedule-input", placeholder:"例）9:00" %>
  </div>

  <div class="input_content">
    <div class="">
      <span>終了時間</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :end_time, class:"schedule-input", placeholder:"例）12:00" %>
  </div>

  <div class="input_content">
    <div class="">
      <span>メモ</span>
    </div>
    <%= f.text_area :memo, class:"memo-input" %>
  </div>

  <div class="input_content">
    <%= f.submit "編集する" ,class:"sell-btn" %>
  </div>

<% end %>
