<%= render partial:"head" %>

<%= form_with model:@schedule, local: true do |f|%>

  <div class="price-content">
    <div class="price-text">
      <span>会社名</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :company, class:"price-input", id:"item-price", placeholder:"例）30" %>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>面接形式</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:interview_id, Interview.all, :id, :name, {}) %>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>日付</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :dating, class:"price-input", id:"item-price", placeholder:"例）30" %>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>開始時間</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :start_time, class:"price-input", id:"item-price", placeholder:"例）30" %>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>終了時間</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :end_time, class:"price-input", id:"item-price", placeholder:"例）30" %>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>メモ</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :memo, class:"price-input", id:"item-price", placeholder:"例）30" %>
  </div>

  <div class="sell-btn-contents">
    <%= f.submit "記録する" ,class:"sell-btn" %>
  </div>

<% end %>