<%= render partial:"head" %>

<h3>
  <%= @schedule.company %>
</h3>

<h3>
  <%= @schedule.interview.name %>
</h3>

<h3>
  <%= @schedule.dating.strftime('%Y/%m/%d') %>
</h3>

<h3>
  <%= @schedule.start_time.strftime('%H:%M') %>ー<%= @schedule.end_time.strftime('%H:%M') %>
</h3>

<h3>
  <%= @schedule.memo %>
</h3>

<% if @schedule.dating > Date.today %>
  <%= link_to "スケジュール編集", edit_schedule_path, method: :get %>
  <div>or</div>
<% end %>
<%= link_to "スケジュール削除", schedule_path(@schedule.id), method: :delete %>
